# Change Vinegar recipe to include all types of juice.
recipes.remove(Vinegar);
recipes.addShapeless(Vinegar, [Pot, AnyJuice]);

# Add recipe for beet salad that uses listAlllettuce.
recipes.remove(BeetSalad);
recipes.addShapeless(BeetSalad, [MixingBowl, Beet, AnyLettuce, Vinegar, Cheese]);

# Remove spring salad recipes so we can use ore dictionary recipes.
recipes.remove(SpringSalad);

# Add recipe for spring salad using listAllLettuce and listAllveggie.
recipes.addShapeless(SpringSalad, [CuttingBoard, AnyLettuce, oreDict.listAllveggie, MixingBowl]);

# Add recipe for spring salad that uses spice leaf.
recipes.addShapeless(SpringSalad, [CuttingBoard, AnyLettuce, SpiceLeaf, MixingBowl]);

# Add recipe for spring salad that uses sunflower seeds.
recipes.addShapeless(SpringSalad, [CuttingBoard, AnyLettuce, SunflowerSeeds, MixingBowl]);

# Add recipe for spring salad that uses cropWalnut.
recipes.addShapeless(SpringSalad, [CuttingBoard, AnyLettuce, Walnut, MixingBowl]);

# Add recipe for chili poppers
recipes.addShapeless(item."PamHarvestCraft:chilipoppersItem", [item."PamHarvestCraft:bakewareItem", oreDict.listAllpepper, oreDict.foodFlour, Cheese]);

# Add table recipe for toast
recipes.addShapeless(item."PamHarvestCraft:toastItem", [item."PamHarvestCraft:toastItem"]);

# Add recipe for shepard's pie
recipes.addShapeless(item."PamHarvestCraft:shepardspieItem", [item."PamHarvestCraft:bakewareItem", oreDict.listAllmeatraw, item.carrots, oreDict.listAllveggie, item."PamHarvestCraft:spiceleafItem", item."PamHarvestCraft:doughItem"]);

# Add table recipe for baked sweet potato
recipes.addShapeless(item."PamHarvestCraft:bakedsweetpotatoItem", [item."PamHarvestCraft:bakedsweetpotatoItem"]);

# Add recipe for asparagus soup
recipes.addShapeless(item."PamHarvestCraft:asparagussoupItem", [Pot, item."PamHarvestCraft:asparagusItem", item."PamHarvestCraft:butterItem", item."PamHarvestCraft:onionItem", item."PamHarvestCraft:stockItem" ]);

# Add recipe for creamed corn
recipes.addShapeless(item."PamHarvestCraft:creamedcornItem", [item."PamHarvestCraft:saucepanItem", item."PamHarvestCraft:cornItem", item."PamHarvestCraft:onionItem", item."PamHarvestCraft:heavycreamItem" ]);

# Add recipe for onion soup
recipes.addShapeless(item."PamHarvestCraft:onionsoupItem", [Pot, item."PamHarvestCraft:onionItem", item."PamHarvestCraft:stockItem", item."PamHarvestCraft:grilledcheeseItem" ]);

# Add recipe for curry rice
recipes.addShapeless(item."PamHarvestCraft:curryItem", [item."PamHarvestCraft:saucepanItem", item."PamHarvestCraft:riceItem", item."PamHarvestCraft:saltItem", oreDict.listAllpepper, item."PamHarvestCraft:coconutmilkItem",  item."PamHarvestCraft:spiceleafItem", MixingBowl ]);

#Remove fish and chicken sandwhich shapless recipes and add shaped recipes to fix tofu conflict
recipes.remove(FishSandwich);
recipes.remove(ChickenSandwich);
recipes.addShaped(ChickenSandwich, [[Skillet, Mayo, null], [oreDict.listAllchickenraw, Bread, null]]);
recipes.addShaped(FishSandwich, [[Skillet, Mayo, null], [Bread, oreDict.listAllfishraw, null]]);