# Configuration file

####################
# feature
####################

feature {
    ####################
    # heads
    ####################

    heads {
        # If enabled, mobs only drop heads when killed by players.
        B:MobsDropOnPvEOnly=false

        # If enabled, players only drop heads when killed by other players.
        B:PlayersDropOnPvPOnly=false
        ####################
        # enable
        ####################

        enable {
            B:CreepersDropHeads=true
            B:PlayersDropHeads=true
            B:SkeletonsDropHeads=true
            B:WitherSkeletonsDropHeads=false
            B:ZombiesDropHeads=true
        }

        ####################
        # chance
        ####################

        chance {
            I:CreeperDropChance=15
            I:PlayerDropChance=15
            I:SkeletonDropChance=15
            I:WitherSkeletonDropChance=15
            I:ZombieDropChance=15
        }

    }

}


